    <title>{{title}}</title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
      <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
        <script src="app.js"></script>


  </head>

    <body>
  <div id="wrapper">
    <h1>{{title}}</h1>
    <h2><i>"America's Finest News Source"</i></h2>

    <ul>
  {{#each scrapedOnionData}}
    <li>
      <p>
        {{this.title}} 
        </p>
        >p{{this.link}}
        </p>
       <!--  <div id="articles"></div>
    <div id="notes"></div>
    <div id="postNotes"></div> -->
<p>
       
<button class="reset">Reset</button>
</div>
  <div id="wrapper">
    <h1>The Onion</h1>
    <h2><i>"America's Finest News Source"</i></h2>
    <div id="articles"></div>
        <h3>Click on the headline to see notes</h3>
        <h3>Click  ><button class="reset">HERE</button><  to see a new story</h3>

        <form id="userinput">
        <input type="text" id="noteEntry" placeholder="Enter new note here"/>
              <button type="submit" id="addNote">Add Note</button>
        </form>
          <br>
    <div id="noteArea">
<!--      <div id="bodyinput">
 -->            <th><h4>Notes</h4></th>

  </div>

  </body>
