<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
          <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

      <script src="app.js"></script>
    <link rel='stylesheet' href='stylesheets/style.css' />

  </head>
  <body>
  main
    {{{body}}}
  </body>
</html>
